html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  margin: 0;
  background: #EEE;
  color: #333;
  display: flex;
  align-content: center;
}

nav h2 {
  padding-left: 3rem;;
}

.content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}